.overlay {
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.profile-card{
    border-radius: 10px;
    margin-top: 39px;
    background-color: bisque;
    padding: 20px;
    box-shadow: 0 0 18px 1px ;
}

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-btn{
    transform: rotate(90deg);
    background-color: transparent;
    border: none;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

.profile-btn {
    height: 39px;
    width: 39px;
    border-radius: 50%;
    border: none;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}